<h2>Log in</h2>
<%= render 'layouts/flash' %>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email, required: false, autofocus: true, label: false, input_html: {placeholder: 'Email'} %>
    <%= f.input :password, required: false, label: false, input_html: {placeholder: 'Password'} %>
    <div class="d-flex justify-content-between align-items-center">
      <%= f.input :remember_me, as: :boolean, wrapper_html: {class: 'no-margins'} if devise_mapping.rememberable? %>
      <%= link_to new_password_path(resource_name) do %>
        <small>Forgot your password?</small>
      <% end %>
    </div>

    <%= button_tag 'Log In', type: 'submit', class: 'btn btn-primary block full-width m-b' %>
    <div class="text-center m-b-md">
      <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
    </div>
<% end %>

<p class="text-muted text-center"><small>Do not have an account?</small></p>

<%= link_to "Sign up", new_registration_path(resource_name), class: 'btn btn-default block full-width' %>
