<!DOCTYPE html>
<html>
<head>
  <title>Utcourt</title>
  <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= 'gray-bg' if devise_controller? %>">
<!-- Wrapper-->
<div id="wrapper" class="middle-box loginscreen">
  <%= yield %>
  <p class="m-t text-center">
    <small>Court Calendar © 2018</small>
  </p>
  <!-- Include javascript per-controller - vendor plugins -->
  <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

  <!-- Include javascript per-view -->
  <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
  <%= yield :javascript %>

</div>
<!-- End wrapper-->

<!-- Include javascript per-controller - vendor plugins -->

</body>
</html>